{% include header.html %}

 <div class="col-md-12">
                <h4>About Me</h4>
                <p>
                        I am a programmer based in Melbourne Australia, currently working for an Intranet Development company.
                </p>
                <p>
                        I have been developing small websites, and applications for a while now, and am only starting to get into git.
                </p>
                <p>
                        I am a big fan of OpenSource Software, and want to do all that I am able to contribute to it.
                </p>
                <p>
                        I have been using Linux as my main operating system, <a href="https://getfedora.org/">Fedora</a> Linux on my main computer, and <a href="http://archlinux.org/">Arch Linux</a> at work, for a number of years now, and do not plan on going back to closed source software, or OS's.
                </p>
                <p>
                        I have enjoy photography and travel, and spending time with my wife.
                </p>
                <p>
                        I am wanting to get more involved with the OpenSource community, and continue develop software.
                </p>
        </div>
{% include footer.html %}
