	<div class="col-md-6" id="current">
                <div class="row"><h4>Current Projects: <small><a href="https://github.com/JustinFuhrmeister-Clarke?tab=repositories">View All</a></small></h4></div>
                <div id="loading" class="row"> Loading...</div>
                <!--div class="row"><a href="https://github.com/JustinFuhrmeister-Clarke/PythonWebBrowser">Python Based Web Browser</a></div>
                <div class="row"><a href="https://github.com/JustinFuhrmeister-Clarke/VerseOfDayBundle">Symfony Component - Daily Bible Verse</a></div>
                <div class="row"><a href="https://github.com/JustinFuhrmeister-Clarke/VerseOfDayBundle">NextCloud Desktop Client, A clone of the OwnCloud Desktop Client. <br />With NextCloud branding </a></div-->
        </div>
        <div class="col-md-6">
                <div class="row"><h4>Future Projects:</h4></div>
                <div class="row"><a href="./PHPImageStack/">PHP Image Layering Script</a></div>
                <div class="row"><a href="./noProject/">Symfony Component - Notice Board Notices</a></div>
                <div class="row"><a href="./noProject/">Symfony Component - Recipe System</a></div>
                <div class="row"><a href="./noProject/">Symfony Component - Chat Communication</a></div>
        </div>
